@charset "UTF-8";

.font1{
	font-size: 100px;
	font-weight: bolder;
}
.font2{
	font-size: 75px;
}
.font3{
	font-size: 50px;
}
.font4{
	font-size: 25px;
}

.nonDeco{
	text-decoration: none;
}

.black{
	color: black;
}